@media screen and (max-width: 375px) {
  .movie_cart {
    width: 700%;
    margin: 20px auto;
  }
  .movie_description {
    left: 30%;
    margin-left: -70%;
    width: 50%;
    font-size: 50%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: azure;
  }
}

@media screen and (max-width: 414px) {
  .movie_cart {
    width: 80%;
    margin: 20px auto;
  }
  .movie_description {
    left: 30%;
    margin-left: -80%;
    width: 60%;
    font-size: 70%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: azure;
  }
}

.movie_cart {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.movie_container {
  position: relative;
  margin: 20px auto;
  border: 1px solid rgb(8, 75, 113);
  border-radius: 10px;
  background-color: rgb(96, 127, 156);
  color: aliceblue;
}

.movie_container:hover {
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.movie_title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.movie_year {
  font-size: 10px;
}

.movie_description {
  position: absolute;
  top: 0;
  left: 105%;
  width: 200px;
  padding: 10px;
  margin-right: auto;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: visibility 0s, opacity 0.5s linear;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.movie_container:hover .movie_description {
  visibility: visible;
  opacity: 1;
}
